*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: red;
    height: 5rem;
    position: relative;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(241, 7, 7, 0.1);
    
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 1.3rem;
    list-style: none;
    padding: 1rem;
    position: absolute;
    right: 2.5rem;
    top: 0;
}

a{
    text-decoration: none;
    font-size: 2.5rem;
    color: blueviolet;
}
.active{
    position: absolute;
    color: blue;
    top: 1rem;
    font-size: 2.5rem;
}

#about{
    position: absolute;
    top: 5rem
}

a:hover{
    color: blue;
}